@import 'base';
@import 'components';
@import 'header';
@import 'preview';
@import 'searchResults';
@import 'recipe';
@import 'upload';

@media 
	screen 
		and 
			(max-width 
				&: 
					680px) 
						.header__logo {
    display: block 
						height: 4.6rem 
						padding: 9px 
.search 
	align-items: center 
	background-color: #fff 
	border-radius: 10rem 
	display: flex 
	transition: all .3s 
	height: 30px 
.search__field 
	background: none 
	border: none 
	color: inherit 
	font-family: inherit 
	font-size: 1.7rem 
	max-width: 77px 
